PORT=3001
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/phonebookApp?retryWrites=true&w=majority
TEST_MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/phonebookAppTest?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
